.disconnected::after {
    background-color: #000;
    background-color: rgba(0, 0, 0, .46);
    color: #fff;
    content: "Disconnected";
    font-size: 600%;
    font-weight: 700;
    height: 100%;
    left: 0;
    line-height: 80vh;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3
}

.panel {
    flex: 1;
    min-width: clamp(0%, 500px, 100%) !important;
    max-width: clamp(80px, 100%, 800px);
    padding: 10px;
    position: relative;
}

.panel.expanded {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    z-index: 1;
    min-height: 100%;
}

.expandPanel {
    position: absolute;
    top: 20px;
    right: 5px;
    border: none;
    background: none;
    border-radius: 50%;
    color: #6c757d;
    transition: 0.2s;
}

.expandPanel:hover {
    color: white;
}

#t_indicatior {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.hidden {
    left: 0 !important;
    opacity: 0;
    pointer-events: none
}

.hide {
    border: 0 !important;
    font-size: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important
}

.navbar {
    background-color: #313d48;
}

.masonry {
    grid-template-rows: masonry;
    columns: 35rem;
    column-gap: 1rem;
    display: block;
}
  
.masonry-2 {
    column-count: 2;
}
  
.masonry-1 {
    column-count: 1;
}
  
.masonry > * {
    break-inside: avoid;
    margin-bottom: 1rem;
    background: #2f3a4366 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 1rem!important;
}
  
.masonry table {
    margin-bottom: 0 !important;
}